// === CORES INSTITUCIONAIS ===
$azul-ailos:               #165C7D;
$laranja-ailos:            #FFA300;
$azul-claro-ailos:         #009ED0;
$verde-ailos:              #00C246;
$azul-intermediario-ailos: #007D8A;

// === ESTADOS CRÍTICOS ===
$critic-vermelho:          #C13018;
$critic-laranja:           #FFA300;
$critic-amarelo:           #FCD610;
$critic-verde:             #00C246;
$critic-azul:              #009ED0;

// === ESCALA DE CINZA ===
$preto-ailos:              #040F14;
$cinza-4:                  #889499;
$cinza-3:                  #A7B0B5;
$cinza-2:                  #C6CED1;
$cinza-1:                  #E7EEF1;

// === ESCALAS DE INTENSIDADE AZUL ===
$azul-ailos-140:           #012F44;
$azul-ailos-120:           #013F5C;
$azul-ailos-100:           #165C7D;
$azul-ailos-80:            #457D97;
$azul-ailos-60:            #739DB1;
$azul-ailos-40:            #A2BECB;
$azul-ailos-20:            #D0DEE5;

// === FUNDOS ===
$background:               #E8EFF2;

// === ESCALAS DE INTENSIDADE LARANJA ===
$laranja-ailos-120:        #C37D00;
$laranja-ailos-100:        #FFA300;
$laranja-ailos-80:         #FFB533;
$laranja-ailos-60:         #FFC866;
$laranja-ailos-40:         #FFDA99;
$laranja-ailos-20:         #FFEDCC;
