<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">


<nav class="sidebar">
    <div class="logo">
      <mat-icon class="material-icons-outlined">forest</mat-icon>
    </div>
  
    <ul class="menu">
      <li><mat-icon class="material-icons-outlined">menu</mat-icon></li>
      <li><mat-icon class="material-icons-outlined">search</mat-icon></li>
      <li><mat-icon class="material-icons-outlined">star</mat-icon></li>
      <li><mat-icon class="material-icons-outlined">chat</mat-icon></li>
      <li><mat-icon class="material-icons-outlined">tune</mat-icon></li>
      <li><mat-icon class="material-icons-outlined">account_balance</mat-icon></li>
    </ul>
  </nav>
  